@using MyFootballProject.Data.Enum;
@using MyFootballProject.ViewModels
@model ClubAddEditVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add or Edit your clubs</title>
</head>
<body>
    <h1>Add or edit the club</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" /> 
    <div>
        <label>
            Name
            <input asp-for="Name" />
        </label>
    </div>
    <div>
        <label>
            Day of foundation
            <input type="date" asp-for="FoundingDate" />
        </label>
    </div>
    <div>
        <label>
            League
            <select asp-for="League" asp-items="Html.GetEnumSelectList<League>()">
                <option>Select League</option>
            </select>
        </label>
    </div>

    <div>
        <label>
            Country
            <select asp-for="Country" asp-items="Html.GetEnumSelectList<Country>()">
                <option>Select Country</option>
            </select>

        </label>
    </div>
        <div>
            <label> Stadium </label>
            <select asp-for="StadiumId">
                <option>Please select the stadium </option>
                @foreach (StadiumDropDownVM item in ViewBag.StadiumDropDown)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
    <div>
        <label>President</label>
        <select asp-for="PresidentId">
            <option> Please select the president</option>
            @foreach(PresidentDropDownVM item in ViewBag.PresidentDropDown)
            {
                   <option value="@item.Id">@(item.FirstName + " " + @item.LastName)</option> 
            }
        </select>
    </div>
    <div>
        <label>Image</label>
        <input type="file" name="Image"/>
    </div>
    <button type="submit"> Save </button>
    </form>
</body>
</html>
