@*@using MyFootballProject.ViewModels
@model PlayerAddEditVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        #container  {
            height: 730px;
            border: 2px solid black;
       margin: 0 300px;

        }
        h1{
        text-align: center;

        }
        #h2container{

        margin: 0 390px;

        }
        #imagecontaier{
         margin: 0 205px;
        float:right;
        }

    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
</head>
<body>
        <input type="hidden" asp-route-id="@Model.Id"/> 
        <div id="container" >
    <div> 
        <h1>@(Model.FirstName + " " + Model.LastName)</h1>
    </div>
    <div id="imagecontaier"><img width:70px height:100px src="@Model.ImageName"> </div>
    <div id="h2container">
    <div> <h2> Birthday:  @Model.DOB</h2></div>
    <div> <h2> Country:  @Model.Country</h2></div>
    <div> <h2> National Team:  @Model.NationalTeam</h2></div>
    @foreach(var item in  ViewBag.Clubdropdown)
    {
    if(@item.Id == @Model.ClubId)
    {
    <h2>Club: @item.Name</h2>
    }
    }
    <div> <h2> Position:  @Model.Position</h2></div>
    </div>
    </div>
      
</body>
</html>*@

@using MyFootballProject.ViewModels
@model PlayerAddEditVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <style>
.all{
	width:60%;
	margin: 0 auto;
}
.all h1{
	text-align:center;
}
.flex{
	display:flex;
    width:100%;
}
.flex img{
	width:50%;
}
.information{
	width:50%;
}
</style>
</head>
<body>

<div class="all">
	<h1>@(Model.FirstName + " " + Model.LastName)</h1>
	<div class="flex">
		<img src="@Model.ImageName"/>
		<div class="information">
			<h2> Birthday:  @Model.DOB</h2>
            <h2> Country:  @Model.Country</h2>
            <h2> National Team:  @Model.NationalTeam</h2>
            @foreach(var item in  ViewBag.Clubdropdown)
            {
                if(@item.Id == @Model.ClubId)
                {
                    <h2>Club: @item.Name</h2>
                }
            }
            <h2> Position:  @Model.Position</h2>
		</div>
	</div>
</div>



</body>
</html>